<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
    <div class="container-fluid">
        <header>
            <th:block th:include="~{fragments/navbar}"></th:block>
        </header>
    </div>
    <div class="feed container-fluid align-items-center mr-auto ml-auto">
        <div class="col-xl-8 col-md-8 align-top align-self-center">
            <form th:action="@{/}" th:object="${addPostBindingModel}" method="post">
                <div class="form-group mt-3">
                    <label for="inputPost">Post:</label>
                    <textarea class="comment-input form-control" type="text" rows="3" id="inputPost" th:field="*{text}"></textarea>
                    <small id="postHelp" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></small>
                    <button type="submit" class="btn btn-outline-info mt-3">Submit</button>
                </div>
            </form>
        </div>
        <div class="jumbotron col-xl-8 col-md-8 align-bottom align-self-center bg-light">
        </div>
    </div>
</body>
</html>